<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Crear Cliente</h5>
        <button type="button" class="btn-close" data-mdb-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form>
          <div class="form-group row">
            <label for="staticEmail" class="col-sm-2 col-form-label">Nombre *</label>
            <div class="col-sm-10">
              <input required type="text" readonly class="form-control-plaintext" id="staticEmail" >
            </div>
          </div>
          <div class="form-group row">
            <label for="staticEmail" class="col-sm-2 col-form-label">Apellidos *</label>
            <div class="col-sm-10">
              <input required type="text" readonly class="form-control-plaintext" id="staticEmail" >
            </div>
          </div>
          <div class="form-group row">
            <label for="staticEmail" class="col-sm-2 col-form-label">Direcion *</label>
            <div class="col-sm-10">
              <input required type="text" readonly class="form-control-plaintext" id="staticEmail" >
            </div>
          </div>
          <div class="form-group row">
            <label for="staticEmail" class="col-sm-2 col-form-label">Fecha de Nacimiento *</label>
            <div class="col-sm-10">
              <input required type="date" readonly class="form-control-plaintext" id="staticEmail" >
            </div>
          </div>
          <div class="form-group row">
            <label for="staticEmail" class="col-sm-2 col-form-label">Numero de Telefono Celular *</label>
            <div class="col-sm-10">
              <input required type="number" readonly class="form-control-plaintext" id="staticEmail" >
            </div>
          </div>
          <div class="form-group row">
            <label for="inputPassword" class="col-sm-2 col-form-label">Correo</label>
            <div class="col-sm-10">
              <input type="email" class="form-control" >
            </div>
          </div>
        </form>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-mdb-dismiss="modal">Cerrar</button>
        <button type="button" class="btn btn-primary">Guardar</button>
      </div>
    </div>
  </div>
</div>
